:root {
  --purple-focus: #555bb6;
  --purple: #484d9c;
  --dark: #333333;
  --transparent: #000000b8;
  --l-blue-focus: #82e6f9;
  --l-blue: #66d8ee;
  --light: rgb(173, 234, 251);
  --light-focus: rgb(189, 239, 253);
  --light-text: #b9d9e2;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.App {
  height: 100%;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #8bc6ec;
  background-image: url("https://images.unsplash.com/photo-1612612377337-08573812b370");
  background-size: cover;
  background-repeat: no-repeat;
}

.calc--box {
  height: 40rem;
  width: 25rem;
  /* background-color: var(--transparent); */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  box-shadow: 1px 19px 23px -3px rgba(38, 47, 135, 0.62);
  -webkit-box-shadow: 1px 19px 23px -3px rgba(38, 47, 135, 0.62);
  -moz-box-shadow: 1px 19px 23px -3px rgba(38, 47, 135, 0.62);
}

.display {
  height: 10rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  color: #fafafa;
  font-size: 3rem;
  padding: 1rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: var(--transparent);
  overflow-y: scroll;
}

.display--top {
  align-self: flex-start;
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
}

.display--current {
  align-self: flex-end;
  justify-self: flex end;
}

.button--box {
  display: grid;
  grid-template-columns: repeat(5, 4.91rem);
  grid-template-rows: repeat(5, 6rem);
  grid-gap: 2px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  max-width: 25rem;
  background-color: #bbc6baa1;
  text-align: center;
  contain: content;
}

.button {
  border: none;
  font-size: 1.7rem;
  font-weight: 500;
  color: var(--dark);
  opacity: 100%;
  text-align: center;
}

.button:disabled {
  background-color: var(--dark);
}

.button.operator {
  background-color: var(--l-blue);
}

.button.operator:disabled {
  color: var(--l-blue);
  background-color: var(--dark);
}

.button.operator:disabled:hover {
  color: var(--transparent);
  background-color: var(--dark);
}

.button.operator:hover {
  background-color: var(--l-blue-focus);
}

.button.equals {
  grid-column: 3 / 6;
}

.button.num {
  background-color: var(--light);
}

.button.num:hover {
  background-color: var(--light-focus);
}

.button.other,
.button.exponent {
  background-color: var(--purple);
  color: var(--light-text);
}
.button.other:hover,
.button.exponent:hover {
  background-color: var(--purple-focus);
}

.button.clear {
  grid-column: 1 / 3;
}
.button.Del {
  grid-column: 3 / 5;
}

.button.decimal {
  grid-row: 4 / 6;
}
